---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Faça uma doação ❤"
  description="Chave PIX para realização de doações"
  pubDate={new Date("May 04 2023")}
>
  <img src="img/pix.png" width="100%" alt="Doe via pix" />
  <p>Chave PIX: novosurbanoscg@gmail.com</p>
</Layout>
