---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Doe">
  <div class="text-center p-4">Chave PIX: novosurbanoscg@gmail.com</div>
  <img src="/site/img/pix.png" width="100%" alt="Doe via pix" />
  <div class="text-center p-4">Chave PIX: novosurbanoscg@gmail.com</div>
</BaseLayout>
