---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="text-center p-4">Chave PIX: novosurbanoscg@gmail.com</div>
  <img src="/img/pix.png" width="100%" alt="Doe via pix" />
  <div class="text-center p-4">Chave PIX: novosurbanoscg@gmail.com</div>
</BaseLayout>
