---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
---

<BaseLayout>

  <div class="pb-12 mt-6">
    <div class="text-5xl font-bold">Novos Urbanos</div>
    <div class="py-2">
      <text class="text-lg">
        A cidade precisa ser feita para as pessoas e seres não-humanos!
      </text>
    </div>
    <div class="mt-8">
      <a href="/site/doe" class="btn btn-outline">Faça uma doação ❤</a>
    </div>
  </div>

</BaseLayout>
