---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Manifesto">
  <article class="prose lg:prose-xl">
    <h1>Manifesto</h1>
    <p>Nós, membros/as do Coletivo Novos Urbanos, fundado em 2014, na cidade de Campina Grande, acreditamos que a cidade é um espaço coletivo que deve ser construído por  e para todos. Nosso objetivo é promover o desenvolvimento urbano sustentável, justo e inclusivo, estimulando a participação da população e fomentando o diálogo entre diferentes atores.</p>
    <p>Nosso propósito é lutar por uma cidade mais humana, onde haja espaço para a diversidade e onde todos tenham acesso a serviços públicos de qualidade, transportes acessíveis, moradia digna e espaços públicos seguros e bem-cuidados. Buscamos construir uma cidade mais verde, com áreas verdes e espaços de convivência que possam ser desfrutados por todos.</p>
    <p>Nosso dever é mobilizar a sociedade e promover a conscientização sobre a importância do planejamento urbano participativo e da gestão democrática dos espaços públicos. Atuamos por meio de intervenções urbanas, projetos colaborativos e atividades de incentivo ao transporte ativo na direção de reivindicar o espaço público para trabalho, lazer e cultura. Também promovemos debates, palestras e fóruns para discutir questões relacionadas ao desenvolvimento urbano e à gestão democrática da cidade.</p>
    <p>Somos um coletivo apartidário e horizontal, que acredita na união e na força da coletividade para transformar a cidade em um espaço mais humano, justo e sustentável para todos.</p>
  </article>
</BaseLayout>
