<div class="drawer-side bg-base-200">
  <label for="my-drawer" class="drawer-overlay bg-base-200"></label>
  <div
    class="menu flex flex-col flex-nowrap p-4 overflow-y-auto w-[21rem] bg-base-200 text-base-content"
  >
    <div class="w-fit">
      <a href="/">
        <div
          class="avatar transition ease-in-out w-1/2 hover:scale-[102%] block m-auto mt-3 mb-6"
        >
          <div>
            <img
              class="mask mask-circle"
              src="/nus.png"
              alt="Coletivo Novos Urbanos"
            />
          </div>
        </div>
      </a>
    </div>
    <ul class="grow shrink">
      <!-- Sidebar content here -->
      <li><a id="home" href="/site">Início</a></li>
      <!-- <li><a id="projects" href="/projects">Projects</a></li> -->
      <!-- <li><a id="services" href="/services">Services</a></li> -->
      <!-- <li><a id="store" href="/store">Store</a></li> -->
      <!-- <li><a id="blog" href="/blog/">Blog</a></li> -->
      <!-- <li><a id="cv" href="/cv">CV</a></li> -->
      <li><a id="doe" href="/site/doe">Faça uma doação</a></li>
      <li><a href="mailto:novosurbanoscg@gmail.com">Contato</a></li>
    </ul>
    <div class="social-icons px-4 my-2 flex self-center">
      <a
        href="/rss.xml"
        target="_blank"
        class="mx-3"
        aria-label="RSS Feed"
        title="RSS Feed"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: currentColor;transform: ;msFilter:;"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>
    </div>
  </div>
</div>
<script>
  const homeLink = document.getElementById("home");
  const doeLink = document.getElementById("doe");

  const url = window.location.href;
  const pages = [homeLink, doeLink];
  const activeClass = "bg-base-300"; // For primary color replace with `active` class

  pages.forEach((elem) => {
    if (url.includes(elem.id)) {
      elem.classList.add(activeClass);
    }
  });
</script>
